<<<<<<< HEAD
doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="../style.css")
    title Login Page
  body
    .textArea
      h1 Login Page
      h2 Please enter your user name and password. Both are case Sensitive.
    .errorText
      | Incorrect Information.
    .formContainer
      form(method="post")
        .formText
          | User:
          br
        input(type="text" name="user" placeholder="Enter user here" required="")
        br
        .formText
          | Password:
          br
        input(type="text" name="pass" placeholder="Enter Pass here" required="")
        br
        button.submit Submit
=======
doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="../style.css")
    title Login Page
  body
    .textArea
      h1 Login Page
      h2 Please enter your user name and password. Both are case Sensitive.
    .errorText
      | Incorrect Information.
    .formContainer
      form(method="post")
        .formText
          | User:
          br
        input(type="text" name="user" placeholder="Enter user here" required="")
        br
        .formText
          | Password:
          br
        input(type="text" name="pass" placeholder="Enter Pass here" required="")
        br
        button.submit Submit
>>>>>>> fac084134fc8c24124d12babe72cf259ce33f12b
